{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block menu %}
<li><a href="{% url "accounts:detail" request.user.pk %}">Назад</a></li>
<li><a href="{% url "accounts:change" request.user.pk %}">Редактирование личных данных</a></li>
{% endblock %}

{% block content %}
<div class="panel">
    <div class="panel_title">
        <h2>Смена пароля</h2>
    </div>
    <div class="panel_body">
        {% url "accounts:password_change" as action_url %}
        {% include 'partial/form.html' with action_url=action_url form_method="post" %}
    </div>
</div>
{% endblock %}