{% load static %}
{% for item in object_list %}
<div class="card" id='item_{{ item.pk }}'>

    {% if request.user == item.owner %}
    <div class="post_actions">
        <div class='btn_overlay delete' title="Удалить">
            <a class="svg_btn delete_btn" data-slug='{{ item.get_absolute_url }}' data-id='{{ item.pk }}'></a>
        </div>
        <div class="btn_overlay update" title="Изменить">
            <a href="{{ item.get_absolute_url }}update/" class="svg_btn edit_btn"
                data-slug='{{ item.get_absolute_url }}' data-id='{{ item.pk }}'></a>
        </div>
        <div class="btn_overlay update" title="Поднять пост">
            <a href="{{ item.get_absolute_url }}update/" class="svg_btn update_btn"
                data-slug='{{ item.get_absolute_url }}' data-id='{{ item.pk }}'></a>
        </div>
    </div>
    {% endif %}

    {% if item.photo %}
    <img class="card_img" src="{{item.photo.url}}" alt="Photo of item">
    {% else %}
    <img class="card_img" src=" {% static 'img/no-image.jpg' %}" style="filter: brightness(0.5);" alt="No Image"
        srcset="">
    {% endif %}

    <div class="info">
        <h3>{{ item.name|truncatechars:29 }}</h3>
        <p>{{ item.description|truncatechars:105 }}</p>
        <br>
        <a class="link" href="{{ item.owner.profile.get_absolute_url }}">@{{ item.owner }}</a>
        <p><strong class="price">{{ item.price}}</strong> сом</p>
        <p>{{item.created|date:"d M Y" }}</p>
    </div>
    <a href="{{ item.get_absolute_url }}" class="btn_rght pad_off">Подробнее</a>
</div>
{% endfor %}
{% block js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/btn_action.js' %}"></script>
{% endblock js %}