<form action="{{ action_url }}" method="{{ form_method }}">
    {% csrf_token %}

    {% for error in form1.non_field_errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}
    {% for error in form2.non_field_errors %}
    <p class="error">{{ error }}</p>
    {% endfor %}

    {% for field in form1 %}
    {% include 'partial/form_field.html' %}
    {% endfor %}
    {% for field in form2 %}
    {% include 'partial/form_field.html' %}
    {% endfor %}

    <br />
    <input type="submit" class="{{button_class|default:'btn'}}" value="{{ button_text|default:'Submit' }}" />
</form>