:root {
    --Dark: #131A22;
    --lightDark: #303E50;
    --Dark: #232F3E;
    --Background: #36465a;
    --light: #E2E5E9;
    --lightTrans: #ccd0d6;
    --accent: #FF9900;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0em;
    padding: 0em;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--lightTrans);
    position: relative;
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    height: 4rem;
    background-color: var(--lightDark);
    margin-bottom: 2rem;
    box-shadow: 0 10px 16px 0 #232f3e1f, 0 6px 20px 0 #232f3e44 !important;
    z-index: 10;

}

/* width */
::-webkit-scrollbar {
    width: 0.75rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--lightTrans);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--lightDark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--lightDark);
}

ul {
    list-style-type: none;
}

hr {
    height: 2px;
    background-color: var(--Background);
    border: none;
}

img {
    object-fit: cover;
}

.background {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background svg {
    display: block;
    margin: auto;
}

.new_content {
    margin: 12rem 1rem 1rem 1rem;
}

.search_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 1rem 0 1rem;
}

#main_search {
    width: 50%;
    min-width: 20rem;
    margin: 0 auto;
    background-color: var(--lightDark);
    padding: 0.75rem;
    border-color: transparent;
    border-radius: 1rem;
    color: var(--light);
    box-shadow: 0 0 0 0 var(--lightDark);
    transition: box-shadow ease-in 250ms;


}

#main_search:focus,
#main_search:hover {
    outline: none;
    box-shadow: 0rem 0.5rem 1rem 0 #232f3e98;
    transition: box-shadow ease-in 250ms;

}

.navgrid {
    display: grid;
    /* padding: 0.5rem 2rem; */
    width: 90%;
    padding: 0.5rem 0;
    margin: 0 auto;
    grid-template-columns: 3rem 1fr;
    height: 3rem;
    justify-items: end;
    gap: 1rem;

}

#SVG_a {
    display: flex;
    justify-content: center;
}

#SVG_logo {
    display: block;
    margin: auto;
}

#toggle_menu {
    color: var(--light);

}

#toggle_menu:hover {
    color: var(--accent);
}

.accent {
    color: var(--lightDark);
}

.link {
    width: max-content;
    color: var(--light);
}

.link:hover {
    color: var(--accent);
}

.nav_link {
    color: var(--light);
    position: relative;
    font-size: 1rem;
    margin: 0rem 0.5rem;
    text-decoration: none;
}

.nav_active {
    color: var(--light);
    position: relative;
    font-size: 1rem;
    margin: 0rem 0.5rem;
}

.nav_active::before {
    content: '';
    cursor: not-allowed;
    pointer-events: none;
    position: absolute;
    bottom: -0.25rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


#menu_wrap {
    padding-right: 1rem;
    position: fixed;
    border-radius: 0 0 0 1rem;
    top: 4rem;
    left: 50%;
    align-self: center;
    justify-self: start;
    height: 30%;
    min-width: 50%;
    width: 50%;
    background-color: var(--lightDark);
    box-shadow: 0 0.5rem 0.75rem 0 #131a22a6 !important;
}

/*  animation of menu */
@-webkit-keyframes in {
    0% {
        -webkit-transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;
    }

    15% {
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0rem);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes in {
    0% {
        transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;
    }

    15% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes out {
    0% {
        -webkit-transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    70% {
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes out {
    0% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;
    }
}

#menu_wrap.show {
    -webkit-animation: in 250ms ease both;
    animation: in 250ms ease both;
}

#menu_wrap.hide {
    -webkit-animation: out 250ms ease both;
    animation: out 250ms ease both;
}

/* End of animation */

#menu_wrap ul {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}

#menu_wrap ul li {
    margin: 1rem;
}

.grid {
    justify-items: center;
    align-items: center;
    margin: 1rem auto;
    display: grid;
    max-width: 90%;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.grid_user_detail {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1rem;
}

.content_grid {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1rem;
}

.scroll_horizontal {
    overflow-x: scroll;
    scroll-behavior: smooth;

}

/* width */
.scroll_horizontal::-webkit-scrollbar {
    height: 0rem;
    width: 0rem;
}

.horizontal_grid {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2rem));
    align-items: baseline;
    justify-content: start;
    gap: 0.75rem;
}

.horizontal_grid .card {
    min-width: 15rem;
    min-height: 15rem;
}

.col1 {
    margin: auto;
    display: grid;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}

.col2_grid {
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.card {
    min-height: 20rem;
    position: relative;
    color: var(--light);
    background-color: var(--lightDark);
    border-radius: 1rem;
}

.new_card {
    min-height: 10rem;
    min-width: 10rem;
    position: relative;
    color: var(--light);
    background-color: var(--lightDark);
    border-radius: 1rem;
}

.new_card .card_img {
    pointer-events: none;
    position: absolute;
    opacity: 0.35;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: 0;

}

.info_detail_txt {
    z-index: 1;
}

.new_card .info_detail {
    opacity: 1;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.card_img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 10rem;
    width: 100%;
}

.detail_img {
    border-radius: 1rem 1rem 0rem 0rem;
    height: 25rem;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.info_detail {
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.info_detail p {
    margin-top: 0.25rem;
}

.price {
    width: max-content;
    color: var(--accent);
}

.btn_rght {
    position: absolute;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    bottom: 0;
    right: 0;
    background-color: var(--accent);
    color: var(--lightDark);
    padding: 1rem 1.5rem;
    border-radius: 1rem 0rem 1rem 0rem;
    box-shadow: 0 0 0 0 var(--accent);
    transition: box-shadow ease-in 300ms;
}

.btn_rght:hover,
.btn_rght:focus {
    outline: none;
    box-shadow: 0 0 0.75rem 0 var(--accent);
    transition: box-shadow ease-out 300ms;
}

.sidebar {
    justify-self: center;
    align-self: flex-start;
    width: 100%;
    background-color: var(--lightDark);
    color: var(--light);
    border-radius: 1rem;
}

.sidebar h1 {
    margin: 1rem;
}

.root {
    color: var(--light);
    margin: 2rem;
}

.root li {
    margin-top: 1rem;
}

.children {
    margin-left: 1rem;
}

.ads {
    width: 100%;
    height: 100%;
    background: var(--accent);
    justify-content: center;
    border-radius: 1rem;


}

.ads div {
    margin: 1rem;
}

.pagination {
    padding: 1rem;
    color: var(--light);
    background-color: var(--lightDark);
    border-radius: 1rem;
    grid-area: 0 / 2;
}

.pagination a {
    color: var(--accent);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #0000009c;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

.hidden {
    display: none;
    opacity: 0;
    transition: .5s ease opacity
}

.profile {
    position: relative;
    width: 100%;
    max-width: 70rem;
    border-radius: 1rem;
    background-color: var(--lightDark);
    color: var(--light);
    display: grid;
}

.overlay .profile {
    max-width: 90%;
    width: 30rem;
}

.gridprofile {
    display: grid;
    align-items: center;
    grid-template-columns: 10rem auto;
}

.cal {
    grid-area: 3/1/3/span2;
    padding: 0rem 0rem 1rem 0rem;
}

.gridprofile .img {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    margin: 1rem;
}

.gridprofile .txt1 {
    justify-content: center;
    margin-right: 1rem;
}

.gridprofile .txt1 .txt2 {
    margin: 0.5rem 0rem;
}

.gridprofile .cal a {
    background-color: var(--accent);
    color: var(--lightDark);
    justify-content: center;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin-left: 1rem;
    margin-top: 0.25rem;
    display: inline-block;
}

.cal_svg {
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    box-shadow: 0 0 0 0 var(--accent);
    transition: box-shadow ease-in 300ms;
}

.cal_svg:hover {
    box-shadow: 0 0 0.75rem 0 var(--accent);
    transition: box-shadow ease-out 300ms;
}

.cal_svg_active {
    cursor: pointer;
}

.cal_svg_none {
    --accent: var(--Dark);
    pointer-events: none;
    cursor: default;
}

#cal_phone {
    background-image: url('../svg/cal_phone.svg');

}

#cal_insta {
    background-image: url('../svg/cal_insta.svg');
}

#cal_whats {
    background-image: url('../svg/cal_whats.svg');
}

@media (min-width: 1150px) {
    #hide_menu {
        display: none;
    }

    .nav_link:after {
        content: '';
        cursor: not-allowed;
        pointer-events: none;
        position: absolute;
        bottom: -2rem;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--accent);
        opacity: 0;
        transition: all 200ms ease-in;
    }

    .nav_link:hover:after {
        bottom: -0.25rem;
        opacity: 1;
    }

    .profile {
        grid-area: 1 / 1 / 1 / span 2;
        max-width: 100%;

    }

    .gridprofile .cal {
        margin-top: 0rem;
        justify-content: center;
    }

    .gridprofile .cal p {
        color: var(--accent);
        margin-left: 1rem;
        margin-top: 0.5rem;
        display: block;
        grid-area: cal;
    }

    .ulgrid {

        display: flex;
        flex-direction: row;
    }

    .ulgrid ul {
        display: flex;
    }

    .menu {
        display: none;
    }

    .sidebar {
        width: 100%;
        position: sticky;
        top: 5rem;
    }

    .ads {
        width: 100%;

    }

    .area_top {
        grid-area: 1 / 3;
    }

    .content_grid {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: flex-start;
    }

    .pagination {
        grid-area: 3 / 2;
    }

    .card {
        min-height: 20rem;
        width: 100%;
    }

    .info_detail {
        justify-content: space-between;
        height: auto;
        padding: 1rem;
    }

    .profile {
        width: 100%;
    }

    .col1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .info {
        justify-content: space-between;
        height: 15rem;
    }

    /* .card img {
        position: relative;
        height: 10rem;
    } */

    .sidebar {
        justify-self: baseline;
    }

    .grid {
        position: relative;
        margin: 1rem;
        max-width: 100%;
        display: grid;
        grid-template-columns: 220px auto 280px;
    }

    /* .col2_grid {
        margin: auto;
        display: grid;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        grid-template-columns: 70% 30%;
        gap: 0.75rem;

    } */

    .grid_user_detail {

        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width: 1600px) {
    .content_grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: flex-start;
    }

    .area_top {
        grid-area: 1 /3;
    }

    .grid_user_detail {

        grid-template-columns: repeat(3, 1fr);

    }

    .profile {
        grid-area: 1 / 1 / 1 / span 3;

    }

    .col1 {
        grid-template-columns: repeat(3, 1fr);
    }
}