{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="grid">
    {% include 'webapp/category.html' %}
    <div class="content_grid">

        {% for item in items %}
        <div class="card">
            {% if item.photo %}
            <img class="card_img"src="{{item.photo.url}}" alt="Photo of item">
            {% else %}
            <img class="card_img"src=" {% static 'img/no-image.jpg' %}" style="filter: brightness(0.5);" alt="No Image" srcset="">
            {% endif %}
            <div class="info">
                <h1>{{ item.name }}</h1>
                <h3>Категория: {{ item.category }}</h3>
                <p>Теги: Скоро добавлю</p>
                <p>{{ item.description|truncatewords:15 }}</p>
                <br>
                <p>@{{ item.owner }}</p>
                <p class="price"> ЦЕНА: <strong>{{ item.price}}</strong></p>
                <p>{{item.created|date:"d M Y" }}</p>
            </div>
            <a href="{{ item.get_absolute_url }}" class="btn_rght">
                <p>Подробнее</p>
            </a>
        </div>
        {% endfor %}

    </div>
    {% if items.paginator.num_pages != 1 %}
    {% include 'partial/pagination.html' %}
    {% endif %}

    <div class='ads area_top'>
        <div>
            <h1>ADS</h1>
            <p>blahblahblabhlahb labhalbhalbhla hlabhlahblabhla albhlahbla</p>
        </div>
    </div>
</div>
{% endblock content %}