{% extends 'base.html' %}
{% load static %}

{% block category %}
{% include 'webapp/category.html' %}
{% endblock category %}

{% block content %}
<div class="content_grid">
    {% for item in items %}
    <div class="card">
        {% if item.photo %}
        <img src="{{item.photo.url}}" alt="Photo of item">
        {% else %}
        <img src=" {% static 'img/no-image.jpg' %}" style="filter: brightness(0.5);" alt="No Image" srcset="">
        {% endif %}
        <div class="info">
            <h1>{{ item.name }}</h1>
            <h3>Категория: {{ item.category }}</h3>
            <p>Теги: Скоро добавлю</p>
            <p>{{ item.description|truncatewords:15 }}</p>
            <br>
            <p>@{{ item.owner }}</p>
            <p class="price"> ЦЕНА: <strong>{{ item.price}}</strong></p>
            <p>{{item.created|date:"d M Y" }}</p>
        </div>
        <a href="#" class="btn_rght">
            <p>Подробнее</p>
        </a>
    </div>

    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ items.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ items.number }} of {{ items.paginator.num_pages }}.
        </span>

        {% if items.has_next %}
        <a href="?page={{ items.next_page_number }}">next</a>
        <a href="?page={{ items.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}