{% extends 'base.html' %}
{% load static %}
{% block title %}{{ items.name }}{% endblock title %}
{% block content %}
<div class="search_overlay"><input type="search" name="Поиск" placeholder="Введите слово для поиска" id="main_search">
</div>
<div class="new_content">
    <h2 class="dark">Новинки</h2>
    <div class="scroll_horizontal">
        <div class='horizontal_grid'>
            {% include 'partial/new_items.html' %}
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="{% static 'js/hscroll.js' %}"></script>
{% endblock js %}