{% extends 'base.html' %}
{% load mptt_tags %}
{% load static %}

{% block title %}{{ items.name }}{% endblock title %}


{% block content %}
<div class="overlay hidden" style="display: none; opacity: 0;">
    <div class="profile">
        <div class="gridprofile">
            <img class="img"
                src="{% if profile.avatar %} {{profile.avatar.url}} {% else %} {% static 'img/avatar.png' %} {% endif %}"
                alt="">
            <div class="txt1">
                <h2 class="txt2"> @{{ profile.user.username }}</h2>
                <p class="txt2"> <strong>Адрес: </strong>{{ profile.adress}}</p>
                <p class="txt2"><strong> Расписание: </strong>{{ profile.schedule }}</p>
            </div>

            <div class="cal">
                <a class="cal_svg{% if profile.phone %} cal_svg_active {% else %} cal_svg_none {% endif %}"
                    id="cal_phone" href="tel:{{ profile.phone }}" target="_blank" rel="noopener noreferrer"></a>
                <a class="cal_svg{% if profile.insta %} cal_svg_active {% else %} cal_svg_none {% endif %}"
                    id="cal_insta" href="https://instagram.com/{{ profile.insta }}" target="_blank"
                    rel="noopener noreferrer"></a>
                <a class="cal_svg{% if profile.whats %} cal_svg_active {% else %} cal_svg_none {% endif %}"
                    id="cal_whats" href="https://wa.me/{{ profile.whats }}" target="_blank"
                    rel="noopener noreferrer"></a>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="grid">
    <div class='ads'>
        <div>
            <h2>ADS</h2>

        </div>
    </div>
    <div class="col2_grid">
        <div class="card" style="margin: 0 auto;">
            {% if item.photo %}
            <img class="detail_img" src="{{item.photo.url}}" alt="Photo of item">
            {% else %}
            <img class="detail_img" src=" {% static 'img/no-image.jpg' %}" style="filter: brightness(0.5);"
                alt="No Image" srcset="">
            {% endif %}
            <div class="info_detail">
                <h2>{{ item.name }}</h2>
                <h3>Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></h3>
                <p>Теги: Скоро добавлю</p>
                <br>
                <p>{{ item.description }}</p>
                <br>
                <hr>
                <br>
                <p class="price"> ЦЕНА: <strong>{{ item.price}}</strong></p>
                <p>{{item.created|date:"d M Y" }}</p>
            </div>
            <a id="connect" class="btn_rght">Связаться</a>
        </div>
        <div class="new_items" '>
            <h1 class="accent" style="margin-bottom:1rem; display:block;">Новинки</h1>
            <div class="col1">
                {% include 'partial/new_items.html' %}
            </div>
        </div>
    </div>
    <div class=' ads'>
            <div>
                <h2>ADS</h2>
                <p>blahblahblabhlahb labhalbhalbhla hlabhlahblabhla albhlahbla</p>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% block js %}
    <script src="{% static 'js/detailview.js' %}"></script>
    {% endblock js %}